@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
    margin: 0;
    padding: 0;
    outline: none;
}

.m-auto {
    margin: auto;
}

.document {
    font-family: "Roboto", cursive;
    height: 90vh;
    width: 70vw;
}

.document h2 {
    text-align: center;
    padding: 4vh 0;
}

.document p {
    font-weight: 700;
    padding-top: 4vh;
    padding-bottom: 5vh;
    text-align: left;
    letter-spacing: 1.5px;
}

.boderup {
    border-top: 1vh solid black;
}

.footer {
    top: 200px;
    position: relative;
}