#margin {
    margin: auto;
}

.max-width1 {
    max-width: 80vw;
}

.max-width2 {
    max-width: 60vw;
}

.m-auto {
    margin: auto;
}

.form-input {
    padding: 3px 10px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 20px;
    font-family: Arial;
}

.max-height {
    max-height: 20vw;
    height: 5vw;
}

.center {
    justify-content: center;
    align-items: center;
    padding-left: 35%;
}